.header{
    width:1100px;
    position:absolute;
    top:70px;
    left:350px;
}

.nav{
    height:64px;
    z-index: 999999;
    top:75px;
    left:350px;
    float:left;
    background: #ffd200;

}

.header-top{
    height:64px;
    float:left;
}

.logo-img{
    position: absolute;
    top:-47px;
    left:30px;
}

.newalba-img{
    display:block;
}

.depth1-menu{
    width:1050px;
    height: 64px;
    display:block;
    padding-left:30px;
    background: #ffd200;
}

.depth1-menu-list{
    display:inline-block;
    text-align:center;
    text-indent: -9999em;
    height:29px;
    padding:17px 16px 18px;

    background:url('../images/ab/w_campaign_gnb_v2.png') no-repeat;
}

.depth1-menu-list.first{
    width:139px;
    background-position:-21px 2px;
}

.depth1-menu-list.second{
    width:72px;
    background-position:-196px 2px;
}

.depth1-menu-list.third{
    width:77px;
    background-position:-301px 2px;
}

.depth1-menu-list.fourth{
    width:103px;
    background-position:-412px 2px;
}

.depth1-menu-list.fifth{
    width:77px;
    background-position:-547px 2px;
}

.depth1-menu-list.sixth{
    width:74px;
    background-position:-659px 2px;
}

.depth1-menu-list.seventh{
    width:93px;
    background-position:-764px 2px;
}


.main-visual-wrap{
    position: absolute;
    top:430px;
    left:996px;
}

.main-visual-txt{
    font-size:30px;
    font-weight:100;
    text-align: justify;
    color:#fff;
}

.main-visual-txt>strong{
    font-size:74px;
    font-weight:700;
    color:#ffd511;
}

.main-visual-img{
    width:100%;
}

.section-first{
    height:500px;
    margin:0 auto;
    text-align: center;
}

.section-first-wrap{
    position:relative;
    top:-340px;
    left:-13px;
    width:1000px;
    /*padding-bottom:30px;*/
    margin:0 auto;
    text-align: center;
}

.first-title{
    font-size:26px;
    line-height:32px;
    letter-spacing: -0.1em;
    color:#474747;
}

.first-txtbox{
    margin-top:30px;
    background: url('../images/ab/w_count_bar.png') no-repeat center top;
}

.first-txtbox>strong{
    font-size:80px;
    color:#000;
    font-weight:bold;
}

.first-txt{
    margin-top:20px;
    font-size:24px;
    font-weight: bold;
    letter-spacing: -0.1em;
}

.first-btn{
    margin-top:50px;
}

.section-second{
    width:1000px;
    height:1100px;
    position:relative;
    margin:0 auto;
    text-align: center;
}

.section-second-box{

}

.second-box-img{
    float:left;
    width:500px;
    height:340px;
}

.section-third{
    background:#f8f8f8;
    padding:70px 0;
}

.section-third-wrap{
    width:1000px;
    margin:0 auto;
}

.third-title{
    font-size:28px;
    text-align: center;
}

.third-menu-wrap{
    width:800px;
    margin:0 auto;
    padding-top:60px;
}

.third-menu-list{
    font-size: 15px;
    text-align: center;
    letter-spacing:-2px;
    background:#e6e6e6;
    color:#666;
    padding: 6px 20px 8px;
    margin-right:7px;
}

.third-menu-list:first-child{
    font-size: 15px;
    text-align: center;
    letter-spacing:-2px;
    background:#ffd200;
    color:#666;
    padding: 6px 20px 8px;
    margin-right:7px;
}

.third-video{
    margin-top:20px;
}

.footer{
    padding: 50px 0;
    background:#333;
}

.footer-wrap{
    width:1000px;
    margin:0 auto;
}

.footer-sns{
    text-align: center;
    padding-bottom:30px;
}

.footer-menu{
    text-align: center;
    padding-bottom:10px;
}

.footer-menu-list{
    color:#ccc;
    font-size:14px;
}

.vertical-bar{
    display: inline-block;
    position:relative;
    top:3px;
    width:2px;
    height:11px;
    margin:0 11px;
    vertical-align: top;
    background:#4b4b4b;
}

.footer-contact{
    text-align: center;
    padding-bottom:30px;
}

.footer-contact-list{
    color:#ccc;
    font-size:14px;
}

.footer-copy{
    text-align: center;
    color:#777;
}

















.clearfix:after{
    content:"";
    display:block;
    clear:both;
}