.inner{
    width:1200px;
    margin:0 auto;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.aside{
    height:1810px;
    position:fixed;
    top:0;
    left:1570px;
}

.aside ul{
    width:89px;
    height:100%;
    float:right;
    vertical-align:middle;
    background:#1F1F22;
}

.aside-list{
    height:89px;
    text-align:center;
    border-bottom:1px solid #333;
}

.aside-list:first-child{
    height:296px;
    background:#4469d1;
}


.aside ul > li > a img {

}

.aside ul > li > a strong {
    display: block;
    color:#fff;

}
.header{
    width:100%;
    margin-top:30px;
}

.util-wrap{
    width:1300px;
    box-sizing: border-box;
    color:#828282;
}

.util-menu{
    float:right;
}

.util-menu-list{
    display:inline-block;
    padding-left:12px;
    margin-right:10px;
    font-size:12px;
}

/*.util-menu-list:after{*/
    /*content:"";*/
    /*position:absolute;*/
    /*width:1px;*/
    /*height:7px;*/
    /*background-color:#e3e3e3;*/
    /*top:3px;*/
    /*left:0px;*/
/*}*/

.green-logo{
    display: inline-block;
    line-height:87px;
}
.green-menu{
    line-height:87px;
}

.green-menu-list{
    display: inline-block;
    line-height:87px;
    color:#474747;
    font-size:18px;
    font-weight:bold;
    padding:0px 40px;
}

.search{
    display: inline-block;
}



.main-visual-slider{
    width:1467px;
    position:absolute;
    top:340px;
    left:60px;
}

.slider-next{
    float:right;
}

.circle-bar{
    width:110px;
    position:relative;
    top:-25px;
    left:800px;


}

.circle{
    width:15px;
    height:15px;
    background: #fff;
    border-radius:8px;
    text-indent:-99999em;
    margin-right:5px;
    display: inline-block;
}

.ellipse{
    width:35px;
    height:15px;
    background: #fff;
    border-radius:8px;
    text-indent:-99999em;
    display: inline-block;
}


.reco-tit{
    text-align:center;
}

.reco-tit:after{
    content:'';
    width:53px;
    bottom:0;
    margin:auto;
    left:0;
    right:0;
    border-bottom:1px solid #929292;
    position:absolute;
}



.reco-product{
    width:1200px;
    height:200px;
}

.reco-product-wrap{
    width:100%;
}

.reco-product-item{
    float:left;
    margin-right:70px;
}

.reco-product-txt{
    font-size:15px;
    font-weight:bold;
    color:#333;
}

.reco-prev{
    float:left;
}


.reco-next{
    float:right;
}













