.inner{
    width:1200px;
    margin:0 auto;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.aside{
    float:right;
    height:1810px;
    position:fixed;
    top:0;
    left:0;
}

.aside ul{
    width:89px;
    height:100%;
    vertical-align:middle;
    background:#1F1F22;
}

.aside-list{
    height:89px;
    text-align:center;
    border-bottom:1px solid #333;
}

.aside-list:first-child{
    height:296px;
    background:#4469d1;
}


.aside ul > li > a img {

}

.aside ul > li > a strong {
    display: block;
    color:#fff;

}
.header{
    width:100%;
    margin-top:30px;
}

.util-wrap{
    width:1300px;
    box-sizing: border-box;
    color:#828282;
}

.util-menu{
    float:right;
}

.util-menu-list{
    display:inline-block;
    padding-left:12px;
    margin-right:10px;
    font-size:12px;
}

/*.util-menu-list:after{*/
    /*content:"";*/
    /*position:absolute;*/
    /*width:1px;*/
    /*height:7px;*/
    /*background-color:#e3e3e3;*/
    /*top:3px;*/
    /*left:0px;*/
/*}*/

.green-logo{
    display: inline-block;
    line-height:87px;
}
.green-menu{
    line-height:87px;
}

.green-menu-list{
    display: inline-block;
    line-height:87px;
    color:#474747;
    font-size:18px;
    font-weight:bold;
    padding:0px 40px;
}

.search{
    display: inline-block;
}





























