.inner{
    width:1060px;
    margin:0 auto;
}

.top.header{
    width:100%;
}


.logo{
    display:inline-block;
}

.lnb{
    float:right;
}

.lnb-depth1-menu{
    position:relative;
    float:left;
    padding:30px 0 32px;

}

.lnb-depth1-item{
    margin-right:70px;
}

.lnb-depth1-item:last-child{
    margin:0;
}

.lnb-depth2-menu{
    display:none;
}

.main-banner-wrap{
    width:1060px;
    height:420px;
}

.main-banner-img{
    left:250px;

}

.txt-box{
    margin:0 auto;
}

.text-bg{
    left:523px;
    top:189px;
    margin:0 auto;
    position:absolute;
}


.safe-move{
    left:605px;
    top:234px;
    margin:0 auto;
    position:absolute;
}

.safe-move-txt{
    left:523px;
    top:316px;
    margin:0 auto;
    position:absolute;
}

.article-title{
    width:100%;
    margin:20px 0 auto;

}

.join-wrap{
    width:310px;
    height:365px;
    background:#faf05e;
    margin-bottom:40px;
}

.join-content{
    margin:0px 63px 0 0;
}

.join-img-wrap{

}

.join-img1{
    width:310px;
    height:184px;
    position: absolute;
}

.join-img2{
    width:310px;
    height:184px;
    text-align: center;
}

.join-text1{
    font-size:18px;
    font-weight: bold;
    color:#333;
    margin-bottom:15px;
    display:inline-block;
}

.join-text2{
    font-size:13px;
    color:#666;
    text-space: -1px;
    display:inline-block;
}

.article-title{
    width:100%;
    text-align: center;
}


.title-left-arrow{
    float:left;
}

.title-right-arrow{
    float:right;
}

.section1{
    margin-top:30px;
}


.news-bottom{

}

.umb-contents1{
    float:left;
    margin-right:40px;
}



.photo-gallery{
    float:right;
    margin-top:20px;
}

.umb-gallery-item{
    float:left;
}

.umb-gallery-img1{
     display:block;
     margin-right:10px;
 }

.umb-gallery-img2{
    display:block;
}

.umb-gallery-txt{
    display:block;
    color:#333;
    font-size:16px;
    margin-top:10px;
    padding:0 0 0 13px;
    background:url(../images/hd/yellow1x15_bar.gif) no-repeat 0 1px;
}


.umb-gallery-video{
    float:right;
}

.news1-wrap{
    position:absolute;
    float:right;
    width:711px;
    top:899px;
    left:596px;
    padding:25px 0 0;
    border-top:2px solid #4b524c;
}

.news2-wrap{
    position:absolute;
    top:70px;
    left:0px;
    width:711px;
    height: 162px;
}

.news-box{
    width:100%;
    height: 162px;
    float:left;
}

.news-list{
    width:350px;
    float:left;

}

.news-list-title{
    padding:10px 0 0;
    font-size:18px;
    letter-spacing: -1px;
    color:#333;
}

.new-img{
    left:5px;
    display:inline-block;
}

.news-list-date{
    display:block;
    margin:5px 0 0;
}

.news-list-text{
    margin:14px 0 0;
    color:#777;
    font-size:13px;
    line-height: 22px;
    width:200px;
    height: 90px;
    text-align: justify;
}

.scroll{
    padding:10px;
}

.section-wrap{
    margin-top:90px;
    height:346px;
    background:#f7f7f7;
}

.scroll-title{
    text-align: center;
    margin-top:25px;
}

.scroll-menu-item{
    float:left;
    margin-right:69px;
}


.scroll-menu-wrap{
    float:left;
    margin-top:20px;
    line-height: 346px;
}


.notice-wrap{
    float:left;
    margin-right:50px;
}

.notice-title{
    float:left;
    margin-right:50px;
}

.business-wrap{
    float:left;
    margin:0 auto;

}

.webzine-wrap{
    margin-right:50px;
    float:right;

}

.last-section-wrap{
    margin-top:0px;
    display:block;
}


.footer{
    width:100%;
    height:130px;
    background:#323232;
    position:relative;
    padding:32px 0 0;
}

.footer-menu-left{
    color:#aeaeae;
    display: block;
}

.footer-menu-list{
    display: block;
    width:650px;
}

.footer-menu-item{
    float:left;
    padding:0 13px;
}


.footer-copy{
    margin:10px 0 0;
    display:block;
}

.footer-menu-right{
    float:right;
}

.button{
    color:black;
}


.clearfix:after{
    content:"";
    display:block;
    clear:both;
}










