.inner{
    width:1060px;
    margin:0 auto;
}

.top.header{
    width:100%;
}


.logo{
    display:inline-block;
}

.lnb{
    float:right;
}

.lnb-depth1-menu{
    position:relative;
    float:left;
    padding:30px 0 32px;

}

.lnb-depth1-item{
    margin-right:70px;
}

.lnb-depth1-item:last-child{
    margin:0;
}

.lnb-depth2-menu{
    display:none;
}

.main-banner-wrap{
    width:1060px;
    height:420px;
}

.main-banner-img{
    left:250px;

}

.txt-box{
    margin:0 auto;
}

.text-bg{
    left:250px;
    top:100px;
    margin:0 auto;
    position:absolute;
}


.safe-move{
    left:317px;
    top:156px;
    margin:0 auto;
    position:absolute;
}

.safe-move-txt{
    left:250px;
    top:228px;
    margin:0 auto;
    position:absolute;
}

.article-title{
    width:100%;
    margin:20px 0 auto;

}

.title-text{
    margin:0 auto;
}


.join-wrap{
    margin-top:20px;
    width:310px;
    height:365px;
    background:#faf05e;
    margin-bottom:40px;
}

.join-content{
    margin:0px 63px 0 0;
}

.join-img-wrap{

}

.join-img1{
    width:310px;
    height:184px;
    position: absolute;
}

.join-img2{
    width:310px;
    height:184px;
    text-align: center;
}

.join-text1{
    font-size:18px;
    font-weight: bold;
    color:#333;
    margin-bottom:15px;
    display:inline-block;
}

.join-text2{
    font-size:13px;
    color:#666;
    text-space: -1px;
    display:inline-block;

}

.umb-gallery-menu{
    margin-right:20px;
}

.umb-contents1{
    float:left;
    margin-right:50px;
}

.photo-gallery{
    float:left;
}

.umb-gallery-item{
    float:left;
}

.umb-gallery-img{
     display:block;
 }

.umb-gallery-txt{
    display:block;
}


.umb-gallery-video{

}

.scroll{
    padding:10px;
}

.section-wrap{
    margin-top:60px;
    height:346px;
    background:#f7f7f7;
}

.scroll-title{
    text-align: center;
}

.scroll-menu-item{
    float:left;
    margin-right:69px;
}


.scroll-menu-wrap{
    float:left;
    line-height: 346px;
}


.notice-wrap{
    float:left;
    margin-right:50px;
}

.notice-title{
    float:left;
    margin-right:50px;
}

.business-wrap{
    float:left;
    margin-right:50px;

}

.webzine-wrap{
    margin-right:50px;

}

.last-section-wrap{
    margin-top:60px;
    display:block;
}



.footer{
    width:100%;
    height:130px;
    background:#323232;
    position:relative;
    padding:32px 0 0;
}

.footer-menu-left{
    color:#aeaeae;
    display: block;
}

.footer-menu-list{
    display: block;
    width:650px;
}

.footer-menu-item{
    float:left;
    padding:0 13px;
}


.footer-copy{
    margin:10px 0 0;
}

.footer-menu-right{
    float:right;
}




.clearfix:after{
    content:"";
    display:block;
    clear:both;
}










