.inner{
    float:right;
    width:1772px;
}

.container{
    width:1903px;
}

.head-background{
    height:900px;
    background:url(../images/ssg/bg_intro2.jpg)50% 0;
}

.header{
    float:left;
    width:107px;
    height:100%;
    margin-left:23px;
    border-right:1px solid #e5e5e5;
}

.header-logo{
    margin:61px 0 auto;
}

.nav{
    margin-top:165px;
    height:100%;
}

.head-nav-first{
    width:130px;
    height:39px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -32px 4px;
    text-indent: -9999em;
}
.head-nav{
    margin-left:10px;
}

.head-nav-second{
    width:130px;
    height:39px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -32px -36px;
    text-indent: -9999em;
}

.head-nav-third{
    width:130px;
    height:39px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -32px -74px;
    text-indent: -9999em;
}

.head-nav-fourth{
    width:130px;
    height:39px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -32px -115px;
    text-indent: -9999em;
}

.head-nav-fifth{
    width:130px;
    height:39px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -285px -116px;
    text-indent: -9999em;
}

.head-nav-sixth{
    height:30px;
    margin:0 auto;
    background: url(../images/ssg/top_gnb.png) no-repeat -32px -157px;
    text-indent: -9999em;
}

.head-nav-btn{
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:150px;
    margin-left:25px;
    background: url(../images/ssg/btn.png) no-repeat -10px -260px;
    text-indent: -9999em;
}

.banner-icon-wrap{
    

}





















.clearfix:after{
    content:"";
    display:block;
    clear:both;
}